
# Export GtUtility class.
exportClasses(
    "GtUtility" 
)

# Export the public standalone methods in GtUtility
exportMethods (
    "alleleFreq",
    "annotateCoding",
    "annotateLocation",
    "countGenotype",
    "countGenotypeCl",
    "filterVariants",
    "getEFF",
    "loadVcf",
    "map2gene",
    "mergeRegions",
    "parseVcf",
    "recodeCalls,
    "runFisher",
    "runFisherCl",
    "runIBD",
    "runSkat",
    "runSkatCl",
    "runTrend",
    "runTrendCl",
    "selectIBD",
    "subsetFromDb",
    "subsetSamples",
    "analyzeTrio",
)
