# Export GtUtility class.
exportClasses(
    "GtUtility" 
)

# Export the public standalone methods in GtUtility
export("alleleFreq");
export("annotateCoding");
export("annotateLocation");
export("countGenotype");
export("filterVariants");
export("getEff");
export("loadVcf");
export("map2gene");
export("mergeRegions");
export("pairIBD");
export("parseVcf");
export("recodeCalls");
export("runFisher");
export("runIBD");
export("runSkat");
export("runTrend");
export("selectIBD");
export("subsetFromDb");
export("subsetSamples");

